<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductName="NefMotoECUFlasher"?>
  <?define Version="!(bind.fileVersion.NefMotoECUFlasher.exe)"?>
  <?define ECUFlasher_TargetDir=$(var.ECUFlasher.TargetDir)?>
  <?define FTD2XX_NET_TargetDir=$(var.ECUFlasher.TargetDir)?>
  <?define Communication_TargetDir=$(var.ECUFlasher.TargetDir)?>
  <?define Shared_TargetDir=$(var.ECUFlasher.TargetDir)?>
  <?define ApplicationShared_TargetDir=$(var.ECUFlasher.TargetDir)?>
  <?define MemoryLayouts_TargetDir=..\MemoryLayouts\?>
  <Product Id="*"
    Name="$(var.ProductName)"
    Language="1033"
    Version="$(var.Version)"
    Manufacturer="Nefmoto"
    UpgradeCode="2d104af1-44d2-4686-b3e0-a860cb092af1">
    <Package Compressed="yes" InstallScope="perMachine" />

    <!-- https://stackoverflow.com/questions/26336332/force-uninstalling-before-installing-any-version-with-wix-installer -->
    <MajorUpgrade
      AllowDowngrades="no"
      AllowSameVersionUpgrades="no"
      IgnoreRemoveFailure="no"
      DowngradeErrorMessage="loc.NewerVersionInstalled"
      Schedule="afterInstallInitialize"/>

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="MemoryLayouts" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
	<Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
	    <Directory Id="MemoryLayoutsFolder" Name="MemoryLayouts" />
         </Directory>
      </Directory>
    </Directory>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="gpl-3.0.rtf" />
    <UIRef Id="WixUI_InstallDir" />
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="$(var.ProductName).exe" Guid="d2e4f421-0c73-4562-9af9-4f10dd16f278">
	<File Id="$(var.ProductName).exe" Name="$(var.ProductName).exe" Source="$(var.ECUFlasher_TargetDir)$(var.ProductName).exe" />
      </Component>
      <Component Id="$(var.ProductName).exe.config" Guid="5d029180-2042-4344-b43b-e5b0809e9887">
	<File Id="$(var.ProductName).exe.config" Name="$(var.ProductName).exe.config" Source="$(var.ECUFlasher_TargetDir)$(var.ProductName).exe.config" />
      </Component>
      <Component Id="FTD2XX_NET.dll" Guid="21949804-55a9-4cf1-b856-ce5b72fd3f6d">
	<File Id="FTD2XX_NET.dll" Name="FTD2XX_NET.dll" Source="$(var.FTD2XX_NET_TargetDir)FTD2XX_NET.dll" />
      </Component>
      <Component Id="Communication.dll" Guid="d4cf033c-6330-4e20-9130-f26ef46bbcc9">
	<File Id="Communication.dll" Name="Communication.dll" Source="$(var.Communication_TargetDir)Communication.dll" />
      </Component>
      <Component Id="ECUShared.dll" Guid="1161e03f-3326-4297-b492-1d333630dbae">
	<File Id="ECUShared.dll" Name="ECUShared.dll" Source="$(var.Shared_TargetDir)ECUShared.dll" />
      </Component>
      <Component Id="ApplicationShared.dll" Guid="d42fabc7-0a7b-48b2-8104-3b8f85d8d525">
	<File Id="ApplicationShared.dll" Name="ApplicationShared.dll" Source="$(var.ApplicationShared_TargetDir)ApplicationShared.dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="MemoryLayouts" Directory="MemoryLayoutsFolder">
      <Component Id="MemoryLayoutFiles" Guid="68F489B1-19DD-4A65-9018-358BBCD9F342">
        <File Id="ME7_29F200.MemoryLayout.xml" Name="ME7 29F200.MemoryLayout.xml" Source="$(var.MemoryLayouts_TargetDir)ME7 29F200.MemoryLayout.xml" />
        <File Id="ME7_29F200BB.MemoryLayout.xml" Name="ME7 29F200BB.MemoryLayout.xml" Source="$(var.MemoryLayouts_TargetDir)ME7 29F200BB.MemoryLayout.xml" />
        <File Id="ME7_29F400.MemoryLayout.xml" Name="ME7 29F400.MemoryLayout.xml" Source="$(var.MemoryLayouts_TargetDir)ME7 29F400.MemoryLayout.xml" />
        <File Id="ME7_29F400BB.MemoryLayout.xml" Name="ME7 29F400BB.MemoryLayout.xml" Source="$(var.MemoryLayouts_TargetDir)ME7 29F400BB.MemoryLayout.xml" />
        <File Id="ME7_29F800.MemoryLayout.xml" Name="ME7 29F800.MemoryLayout.xml" Source="$(var.MemoryLayouts_TargetDir)ME7 29F800.MemoryLayout.xml" />
        <File Id="ME7_29F800BB.MemoryLayout.xml" Name="ME7 29F800BB.MemoryLayout.xml" Source="$(var.MemoryLayouts_TargetDir)ME7 29F800BB.MemoryLayout.xml" />
        <File Id="ME7_29F800BT.MemoryLayout.xml" Name="ME7 29F800BT.MemoryLayout.xml" Source="$(var.MemoryLayouts_TargetDir)ME7 29F800BT.MemoryLayout.xml" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
